.bestsellerblock{
	text-align: center;
	.grid-container{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		gap: 30px;
		@media (max-width: 991px) {
			grid-template-columns: repeat(2,1fr);
		}
		@media (max-width: 543px) {
			gap: 15px;
		}
		@media (max-width: 470px) {
			grid-template-columns: repeat(1,1fr);
			gap: 0;
		}
		.product-thumb{
			@media (max-width: 543px) {
				max-width:100%;
			}
			@media (max-width: 470px) {
				padding-bottom:15px;
			}
			.image{
				img{
					width: 100%;
				}
			}
		}
	}	
}
