.product-container {
  position: relative;
  display: block;
  padding: 15px;
  @media (max-width: 543px) {
    padding: 5px;
  }
}
.product-thumb {
  @media (max-width: 543px) {/* If media is below 544 */
    max-width: 370px;
    margin: auto;
  }
  text-align: center;
  padding: 0;
  display: block;
  overflow: hidden;
  position: relative;
  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
  .image {  
    display: block;
    position: relative;
    a{
      display: block;
      position: relative;
    }
    img {
      margin: 0 auto;
      max-width: 100%;
      -webkit-transition: all 0.7s ease 0s;
      -moz-transition: all 0.7s ease 0s;
      -ms-transition: all 0.7s ease 0s;
      -o-transition: all 0.7s ease 0s;
      transition: all 0.7s ease 0s;
    }
    .product-img-extra, &.change {
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      @media (max-width: 543px) {
        display: none;
      }
    }
  }
  .caption {
    text-align: center;
    position: relative;
    .description {
      display: none;
    }
  } 
  h4 {
    font: 400 14px/18px $primary-font;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 4px;
    @media (max-width: 543px) {
      margin-bottom: 5px;
    }
    a{
      @media (max-width: 543px) {/* If media is below 544 */
        font-size: 14px;
        line-height: 20px;
      }
      font-size: 18px;
      font-weight: 600;
      line-height: 36px;
      color: #363636;
      white-space: nowrap;
      font-family: $primary-font;
    }
  }
  .price {
    @media (max-width: 543px) {
      font-size: 14px;
      margin-bottom: 3px;
    }
    font-family: $primary-font;
    color: #363636;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    .price-old {
      font-size: 15px;
      margin-left: 4px;
      color: $black-color;
      text-decoration: line-through;
      @media (max-width: 543px) {
        font-size: 13px;
      }
    }
    .price-tax {
      color: #999;
      font-size: 12px;
      display: none;
    }
  }
  .size-details{
    margin-bottom: 7px;
    @media (max-width: 543px) {
      margin-bottom: 3px;
    }
    .size-title{
      font-size: 14px;
      line-height: 14px;
      color: #363636;
      display: inline-block;
      vertical-align: middle;
      @media (max-width: 543px) {
        font-size: 13px;
      }
    }
    span{
      font-size: 15px;
      line-height: 16px;
      color: #363636;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding-right: 6px;
      @media (max-width: 543px) {
        font-size: 13px;
      }
      &:after{
        content:'';
        position: absolute;
        right: 1px;
        top: 1px;
        height: 14px;
        width: 1px;
        background: #cfcfcf;
      }
      &:last-child{
        &:after{
          display:none;
        }
      }
    }
    .size{
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      line-height: 16px;
      font-weight: 600;
      position: relative;
    }
  }
  .rating{
    .product-rating,span,.total-review{
      display: inline-block;
      vertical-align: middle;
    }
    span{
      .fa-star{
        line-height: 11px;
      }
      .fa-stack{
        margin: 0 3px;
        margin-right: 8px;
      }
    }
  }
  .product-description {
    padding: 15px 0 0;
    text-align: left;   
    @media (max-width: 543px) {
      padding: 10px 0 0;
    }
  }
  .outstock-overlay {
    position: absolute;
    background: rgba(255,255,255,0.7);
    text-align: center;
    width: auto;
    color: #363636;
    display: flex;
    justify-content: center;
    font-size: 19px;
    font-weight: 600;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 20px;
  }
  .outstock {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #363636;
    font-size: 19px;
    line-height: 20px;
    font-weight: 700;
    z-index: 9999;
  }
  .thumbnail-container {
    display: block;
    position: relative;
  }
  .sold-out {
    cursor: not-allowed;
  }
  .rating {
    display: block;
    margin-bottom: 2px;
    color: #363636;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    .fa-star, .fa-star-o {
        color: #cccccc;
        font-size: 13px;
        line-height: 0;
    }
    .yellow {
      color: #fec42d;
    }

    .gray {
      color: #cccccc;
    }
    span{
      &.fa-stack {              
        width: 8px;
        height: 8px;
        margin-right: 3px;
      }
    }
  }
  .button-group {    
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 12px;
    opacity: 0;
    top: 12px;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    @media (max-width: 767px) {/* If media is below 768 */
      display: block;
      opacity: 1;
      position: unset;
      text-align: left;
    }
    i {
      display: none;
    }  
    > div {    
      border: none;
      border-radius: 0;
      margin-bottom: 5px;
      display: block;      
      line-height: 0;
      text-align: center;
      @media (max-width: 767px) {
        display: inline-block;
      }      
      button, .quickbox {
        @media (max-width: 767px) {
          border: 1px solid $border-color;
        }
        @media (max-width: 543px) {/* If media is below 544 */
          width: 30px;
          height: 30px;
        }
        @media (max-width: 340px) {/* If media is below 544 */
          width: 28px;
          height: 28px;
        }
        background: $light-color;
        width: 32px;
        height: 32px;
        border: none;
        padding: 0;
        display: inline-block;
        outline: none;
        vertical-align: middle;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        fill: $product-icon-color;
        span {
          display: none !important;
        }
        &:hover {
            fill: $product-hover-icon-color;
            background: $btn-hover-secondary-bg-color;
        }
      }
    }
    .btn-quickview, .btn-wishlist, .btn-compare, .btn-cart {
      @media (min-width: 768px) {/* If media is above 767 */
        opacity: 0;
        -moz-transform:translateY(-30px);  
        -webkit-transform:translateY(-30px);  
        -o-transform:translateY(-30px);  
        -ms-transform:translateY(-30px);
        transform:translateY(-30px);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
      }
    }
    .btn-quickview {
      -webkit-transition: all .8s;
      -moz-transition: all .8s;
      -o-transition: all .8s;
      transition: all .8s;
    }
    .btn-wishlist {
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      -o-transition: all .6s;
      transition: all .6s;
    }
    .btn-compare {
      -webkit-transition: all .4s;
      -moz-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
    } 
    .btn-cart {
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; 
    }        
  }
  &:hover {
    .button-group {
      opacity: 1;
      .btn-quickview, .btn-wishlist, .btn-compare, .btn-cart {
        opacity: 1;
        -moz-transform:translate(0px);  
        -webkit-transform:translate(0px);  
        -o-transform:translate(0px);  
        -ms-transform:translate(0px);
        transform:translate(0px);
      }
    }
    .image {
      .product-img-extra{
        opacity: 1;
        -moz-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -o-transform: scale(1,1);
        -ms-transform: scale(1,1);
        transform: scale(1,1);
      }
    }
  }
} 
.product-grid {
  @media (max-width: 767px) {/* If media is below 768 */
    width: 50%;
  }
  @media (max-width: 543px) {/* If media is below 544 */
    padding: 5px 4px;
  }
  .product-container {
    padding: 15px 0;
    @media (max-width: 543px) {/* If media is below 544 */
      padding: 0;
    }
  }
  .description {
    display: none;
  }
  &:nth-child(3n+1) {
    clear: left;
  }
  @media (max-width: 991px) {
    /* If media is below 1200 */
    &:nth-child(3n+1) {
      clear: none;
    }
    &:nth-child(2n+1) {
      clear: left;
    }
  }
  .countdown-container{
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      left: 10px;
      right: 10px;
    }
    @media(max-width: 991px){
      left: 30px;
      right: 30px;
    }
    @media(max-width: 767px){
      left: 10px;
      right: 10px;
    }
    @media (max-width: 543px) {/* If media is below 544 */
     left: 15px;
     right: 15px;
    }
    @media (max-width: 492px) {
      left: 7px;
      right: 7px;
    }
    @media (max-width: 375px) {/* If media is below 376 */
      left: 5px;
      right: 5px;
    }
    .counter{
      .data{
        @media (min-width: 1500px) {
          width: 55px;
        }
        @media screen and (min-width: 992px) and (max-width: 1199px) {/* If media is between 992 and 1199 */
          width: 37px;
          font-size: 17px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {/* If media is between 992 and 1199 */
          width: 55px;
        }
        @media screen and (min-width: 465px) and (max-width: 543px) {
          width: 47px;
        }
        @media screen and (min-width: 400px) and (max-width: 464px) {
          width: 40px;
        }
        @media screen and (min-width: 360px) and (max-width: 405px) {
          width: 35px;
        }
        @media (max-width: 359px) {
          width: 33px;
        }
        @media (max-width: 340px) {
          width: 28px;
        }
      }
    }  
  }
}
.product-list {
  padding: 0;
  @media (max-width: 543px) {/* If media is below 544 */
    margin: auto;
    width: 300px;
    float: none;
  }
  .product-container {
    border: 0;
    border-radius: 0;
    overflow: hidden;
  }
  .product-description {
    h4 {
      margin-bottom: 9px;
    }
  }
  .price {
    margin-bottom: 10px;
    opacity: 1;
  }
  .description {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  .product-thumb {
    @media (max-width: 543px) {/* If media is below 544 */
      text-align: center;
    }
    text-align: left;
    .image {
      border-radius: 5px;
      padding: 0;
      @media (max-width: 991px) {/* If media is below 992 */
        width: 40%;
      }
      @media (max-width: 767px) {/* If media is below 768 */
        width: 40%;
      }
      @media (max-width: 543px) {
        width: 100%;
      }
    } 
    .button-group{
      @media (max-width: 543px) {
        text-align: center;
      }
      > div{
        button,.quickbox{
          @media (max-width: 543px) {
            width:35px;
            height:35px;
          }
        }
      }
    }
    .caption {
      @media (max-width: 767px) {/* If media is below 768 */
        width: 50%;
      }
      @media (max-width: 543px) {
        width: 100%;
        padding: 15px 15px 0;
        text-align: center;
      }
      padding: 15px;
      text-align: left;
      h4 {
        padding: 0;
        margin-bottom: 12px;
      }
      
      .price {
        margin-bottom: 12px;
        opacity: 1;
      }
    } 
    &:hover{
      .price{
        opacity: 1;
      }
    }
  }
  /*==========================To Override theme.scss ==========================*/
  .countdown-container{

    @media (min-width: 1200px) {
      left: 20px;
      right: 20px;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      left: 10px;
      right: 10px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      left: 30px;
      right: 30px;
    }
    @media (max-width: 767px) {/* If media is below 768 */
     left: 10px;
     right: 10px;
     bottom: 10px;
     padding: 4px;
    }
    .counter{
      .data{   
      @media (min-width: 1500px) {
        width: 55px;
      } 
      @media screen and (min-width: 1371px) and (max-width: 1469px) {/* If media is between 1199 and 1310 */
        width: 55px;
      }
        @media screen and (min-width: 992px) and (max-width: 1199px) {/* If media is between 544 and 1199 */
          width: 43px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {/* If media is between 544 and 1199 */
          width: 44px;
        }
        @media screen and (min-width: 544px) and (max-width: 767px) {/* If media is between 544 and 1199 */
          width: 40px;
        }
        @media screen and (min-width: 401px) and (max-width: 543px) {/* If media is between 544 and 1199 */
          width: 54px;
        }
        @media (max-width: 475px) {
          font-size: 18px;
        }
        @media (max-width: 400px) {/* If media is below 476 */
          width: 60px;
          height: 25px;
          font-size: 18px;
        }
      }
      .lbl{
        @media (max-width: 475px) {/* If media is below 476 */
          font-size: 13px;
        }
        @media (max-width: 375px) {/* If media is below 376 */
          font-size: 13px;
        }
      }
    }    
  }
}