.block_newsletter { 
  .section-header{
    text-align: left;
  }
  .conditions {
    display: none;
  }
  .alert-danger , .alert-success{
    padding: 5px;
    margin: 6px 0;
    font-size: 12px;
    display: inline-block;
  }
  .mail-icon{
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    fill: $light-color;
  }
  .home-title{
    color: $light-color;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0 0 19px;
    line-height: 24px;
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      margin: 0 0 10px;
    }
    @media (max-width: 543px) {
      font-size: 22px;
    }
    &:before,&:after{
      display: none;
    }
  }
  .sub-title{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.28px;
    color: #363636;
    margin-bottom: 13px;
    font-family: $primary-font;
  }

  .heading{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #232323;
    margin-bottom: 20px;
    font-family: $secondary-font;
    &:before,&:after{
      content: '';
      position: absolute;
      left: 20px;
      top: 10px;
      height: 1px;
      width: 183px;
      background-color: #ebebeb;
      @media (max-width: 1500px) {
        left: 0;
      }
      @media (max-width: 1400px) {
        left: -20px;
      }
      @media (max-width: 1199px) {
        left: 90px;
      }
      @media (max-width: 991px) {
        left: 0;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    &:after{
      right: 20px;
      left: auto;
      @media (max-width: 1500px) {
        right: 0;
      }
      @media (max-width: 1400px) {
        right: -20px;
      }
      @media (max-width: 1199px) {
        right: 90px;
      }
      @media (max-width: 991px) {
        right: 0;
      }
    }
  }

  .newsletter-block{
    display: block;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 1199px) {
      margin: 0 auto 30px;
    }
    .newsletter-inner{
      padding: 10px;
      background: $light-color;
      border: 1px solid $border-color;
      border-radius: 5px;
      box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.06);
    }
    .newsletter-desc{
      font-size: 14px;
      line-height: 24px;
      color: #777777;
      display: block;
      letter-spacing: 0;
      font-weight: 400;
      margin-bottom: 20px;
      p{
        color: #777777;
      }
    }
  }
  #newsletter-container {  
    .newsletter_text{  
      .news-icon{
        svg{
          width: 60px;
          height: 60px;
          display: block;
          margin: 0 auto;
          margin-bottom: 20px;
          transform: rotate(-10deg);
          fill:$brand-third;  
        }
      }
      .newsletter-header{
        h2{
          margin: 0 auto 20px;
          position: relative;
          line-height: 20px;
          font-size: 21px;
          font-weight: 500;
          display: inline-block;
          color: $brand-primary;
          @media(max-width: 767px){
            font-size: 20px;
          }
        }
      }
      .newsletter-desc{
        p{
          color: #888;
          margin-bottom: 40px;
          line-height: 19px;
          @media(max-width: 767px){
            margin-bottom: 25px;  
          }
        }
      }
    } 
    .newsletter_form {
      position: relative;
      text-align: left;
      @media(max-width: 991px){
        width: 50%;
      }
      @media(max-width: 767px){
        width: 80%;
      }
      @media(max-width: 543px){
        width: 100%;
      }
      form{
        position: relative;
      }
      .btn-submit {
        cursor: pointer;
        display: inline-block;
        background-color: #722e72;
        color: #ffffff;
        border-color: #722e72;
        line-height: 23px;
        margin-top: 25px;
        padding: 10px 30px;
        font-size: 16px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        &:hover{
          background-color: #000000;
          color: #ffffff;
          border-color: #000000;
        }
      }
      .icon{
          fill: $btn-primary-text-color;
          -webkit-transition: all .6s;
          -moz-transition: all .6s;
          -o-transition: all .6s;
          &:hover{
            fill:$btn-hover-primary-text-color;
          }
      }
      .text-email {
        width: 100%;
        height: 40px; 
        border: 0;
        border-bottom:2px solid #dddddd;
        background-color: transparent;
        padding:10px 0;
        color: $black-color;
        font-family:$primary-font;
        font-size:14px;
        font-weight:400;
        text-transform: capitalize;
        &:focus {
          background-color:transparent;
        }
        &:placeholder {
          color:$black-color;
        }
      }
      .btn-primary{
        background-color: #722e72;
        color: #ffffff;
        border-color: #722e72;
        position: absolute;
        right: 0;
        top: 0;
        span{
          display: none;
        }
        &:hover{
          background-color: #000000;
          color: #ffffff;
          border-color: #000000;
        }
      }
    }
  } 
}