.ishistoreinfoblock{
	.ishistoreinfo-inner{
		@media (max-width: 991px) {
			text-align: center;
			width: 90%;
			margin: 0 auto 10px;
		}
		@media (max-width: 543px) {
			width:100%;
		}
		.store-description{
		    margin-bottom: 0;
		    p{
				line-height: 21px;
				font-size: 13px;
				font-weight: 400;
				font-family: $primary-font;
				margin-bottom: 0;
				color: #363636;
				@media screen and (min-width: 992px) and (max-width: 1199px) {
					font-size: 13px;
				}
		    }
		}
	}
}