.ishipaymentblock{
	text-align: right;
    display: block;
    @media (max-width: 767px) {/* If media is below 992 */
    	text-align: center;
    }
	.paymentblock{
		@media screen and (min-width: 992px) and (max-width: 1199px) {/* If media is between 992 and 1199 */
			margin: 1px;
		}
		display: inline-block;
		vertical-align: middle;
		img {
			@media (max-width: 1200px) {/* If media is below 768 */
				width: 40px;
			}
			border-radius: 0;
			cursor: pointer;
			width: 40px;
			-webkit-transition: all 0.25s;
			-moz-transition: all 0.25s;
			-o-transition: all 0.25s;
			transition: all 0.25s;
		}
	}
}