@media (min-width: 544px) {
  .container {
    max-width: 576px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 1000px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    width: 100%;
  }
}


.checkbox, .radio {
  margin-bottom: 13px;
  &:last-child {
    margin-bottom: 0;
  }
}

.panel-body {
  padding: 15px 0;
}

